root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_size = 4
tab_width = 4

[*.md]
trim_trailing_whitespace = false

[{*.bash,*.sh,*.zsh}]
indent_size = 2
tab_width = 2

[{*.json,*.js}]
indent_size = 2
tab_width = 2
